# {{ ansible_managed }}
<VirtualHost *:{{ http_port }}>
  DocumentRoot /var/www/html
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
  Include /etc/apache2/includes/letsencrypt-acme-challenge.conf
</VirtualHost>

<VirtualHost *:{{ https_port }}>
  DocumentRoot /var/www/html
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
  Include /etc/apache2/includes/letsencrypt-acme-challenge.conf

  SSLEngine on
  SSLCertificateFile /etc/letsencrypt/live/{{ default_site_fqdn }}/cert.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/{{ default_site_fqdn }}/privkey.pem
  SSLCertificateChainFile /etc/letsencrypt/live/{{ default_site_fqdn }}/chain.pem
  {{ apache_dhparams }}

  SSLProtocol +TLSv1.2
  SSLCipherSuite HIGH:!aNULL:!MD5
</VirtualHost>
