# {{ ansible_managed }}
<LocationMatch "^/+$">
  # Show the default default "Welcome" index page for the root url if there is no default index page present.
  Options -Indexes
  ErrorDocument 403 /error/noindex.html
</LocationMatch>

<VirtualHost _default_:80>
  DocumentRoot /var/www/html
  ErrorLog /var/log/httpd/error_log
  CustomLog /var/log/httpd/access_log combined
  Include /etc/httpd/includes/letsencrypt-acme-challenge.conf
</VirtualHost>

<VirtualHost _default_:443>
  DocumentRoot /var/www/html
  ErrorLog /var/log/httpd/error_log
  CustomLog /var/log/httpd/access_log combined
  Include /etc/httpd/includes/letsencrypt-acme-challenge.conf

  SSLEngine on
  SSLCertificateFile /etc/letsencrypt/live/{{ default_site_fqdn }}/cert.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/{{ default_site_fqdn }}/privkey.pem
  SSLCertificateChainFile /etc/letsencrypt/live/{{ default_site_fqdn }}/chain.pem
  {{ apache_dhparams }}

  SSLProtocol +TLSv1.2
  SSLCipherSuite HIGH:!aNULL:!MD5
</VirtualHost>
